{
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "env": {
    "mocha": true
  },
  "plugins": [
    "prettier",
    "chai-friendly",
    "mocha"
  ],
  "globals": {
    "assert": false,
    "expect": true,
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "func-names": [
      "error",
      "as-needed"
    ],
    "prettier/prettier": "error",
    "no-unused-expressions": "off",
    "mocha/no-exclusive-tests": "error",
    "chai-friendly/no-unused-expressions": "error"
  }
}
