<style>
  #email-body a {
    color: slategray;
  }

  #email-body a:visited {
    color: steelblue;
  }

  .bg-brand-dark {
    background-color: #324353
  }

  .text-white {
    color: white;
  }
</style>
<div style="font-family: sans-serif;" id="email-body">
  <div style="padding: 2rem;" class="bg-brand-dark">
    <img style="max-height: 2rem;" src="https://opencerts.io/static/images/opencertslogo.svg"/>
    <div style="max-width: 150px; margin-left: auto; margin-right: auto; margin-top: 2rem; margin-bottom: 2rem;">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 148.7 168">
        <title>Asset 2</title>
        <g id="Layer_2_1_">
          <g id="Layer_1-2">
            <g id="Page-1">
              <g id="Landing-page--v3">
                <g id="How-it-works-section">
                  <g id="Group-9">
                    <g id="certificate-illustration-">
                      <path id="Rectangle" fill="#F0F4EE" d="M6.2,4h128c2.2,0,4,1.8,4,4v156c0,2.2-1.8,4-4,4H6.2c-2.2,0-4-1.8-4-4V8 C2.2,5.8,4,4,6.2,4z"></path>
                      <path id="Rectangle-2" fill="#FFFFFF" stroke="#4FBA6F" stroke-width="4" d="M5.8,2h120.6c2.2,0,3.9,1.8,3.8,4c0,0,0,0,0,0v152.2c0.1,2.2-1.6,3.9-3.8,4 c0,0,0,0,0,0H5.8c-2.1,0-3.9-1.8-3.8-3.9c0,0,0,0,0-0.1V6C1.9,3.9,3.6,2.1,5.8,2C5.8,2,5.8,2,5.8,2z"></path>
                      <path id="Rectangle-15" fill="#E7E7E7" d="M19.2,69h91c1.2,0.1,2.1,1.2,2,2.4v8.4c0.1,1.2-0.8,2.3-2,2.4h-91 c-1.2-0.1-2.1-1.2-2-2.4v-8.4C17.1,70.2,18,69.1,19.2,69z"></path>
                      <path id="Rectangle-15-Copy" fill="#E7E7E7" d="M19.2,89.4h91c1.2,0.1,2.1,1.2,2,2.4v8.4c0.1,1.2-0.8,2.3-2,2.4h-91 c-1.2-0.1-2.1-1.2-2-2.4v-8.4C17.1,90.6,18,89.5,19.2,89.4z"></path>
                      <path id="Rectangle-15-Copy-2" fill="#E7E7E7" d="M19.2,130.6h31c1.2,0.1,2.1,1.2,2,2.4v8.5c0.1,1.2-0.8,2.3-2,2.4h-31 c-1.2-0.1-2.1-1.2-2-2.4V133C17.1,131.8,18,130.7,19.2,130.6z"></path>
                      <path id="Rectangle-15-Copy-3" fill="#E7E7E7" d="M79.2,130.6h31c1.2,0.1,2.1,1.2,2,2.4v8.5c0.1,1.2-0.8,2.3-2,2.4h-31 c-1.2-0.1-2.1-1.2-2-2.4V133C77.1,131.8,78,130.7,79.2,130.6z"></path>
                      <g id="medal">
                        <ellipse id="Oval" fill="#FFD15C" cx="64.7" cy="31" rx="18.5" ry="19"></ellipse>
                        <g id="Group">
                          <path id="Shape" fill="#40596B" d="M50.6,41.1l-6.4,11.5l7.5-0.4l3.4,6.9L61,48.4C56.8,47.3,53.1,44.7,50.6,41.1z"></path>
                          <path id="Shape-2" fill="#40596B" d="M80.7,41c-2.5,3.6-6.1,6.2-10.3,7.4L76.3,59l3.4-6.9l7.4,0.4L80.7,41z"></path>
                        </g>
                        <circle id="Oval-2" fill="#F8B64C" cx="65.7" cy="31.5" r="13.5"></circle>
                        <path id="Shape-3" fill="#FFFFFF" d="M75,28.5c0.3-0.3,0.3-0.7,0-1c-0.1-0.1-0.3-0.2-0.4-0.2l-5.3-0.8c-0.2,0-0.4-0.2-0.5-0.4 l-2.4-4.8c-0.2-0.4-0.6-0.5-1-0.3c-0.1,0.1-0.2,0.2-0.3,0.3l-2.4,4.8c-0.1,0.2-0.3,0.3-0.5,0.4l-5.3,0.8 c-0.4,0-0.6,0.4-0.6,0.8c0,0.2,0.1,0.3,0.2,0.4l3.9,3.7c0.2,0.2,0.2,0.4,0.2,0.6l-0.9,5.3c-0.1,0.4,0.2,0.7,0.6,0.8 c0.1,0,0.3,0,0.4-0.1l4.8-2.5c0.2-0.1,0.5-0.1,0.7,0l4.8,2.5c0.4,0.2,0.8,0,0.9-0.3c0.1-0.1,0.1-0.3,0.1-0.4l-0.9-5.3 c0-0.2,0-0.5,0.2-0.6L75,28.5z"></path>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
          <g id="Group-18">
            <ellipse id="Picture-_-Round" fill="#4FBA6F" cx="108" cy="107.1" rx="39.6" ry="36.9"></ellipse>
            <path id="Check" fill="#FFFFFF" d="M101,114.8l-8.3-5.5c-1.1-0.7-2.6-0.6-3.5,0.3l-0.1,0.1c-1.2,1.2-1.1,3.3,0.3,4.3l10.5,7.8 c1.7,1.3,4.2,1.1,5.7-0.4l23.7-23.3c1.1-1.1,1.1-2.9,0-4l0,0c-1.1-1.1-2.9-1.1-4,0l-20.7,20.4C103.6,115.4,102.1,115.5,101,114.8z "></path>
          </g>
        </g>
      </svg>
    </div>
    <div style="text-align: center; font-size: 2rem;" class="text-white">
      <%- recipientName %> sent you a certificate<% if (issuerName) { %> from <%- issuerName %><% } %>
    </div>
  </div>

  <div style="padding: 2rem">
    <h3>How do I view the certificate?</h3>

    <div style="max-width: 150px; margin-left: auto; margin-right: auto; margin-top: 2rem; margin-bottom: 2rem;">
      <img src="https://opencerts.io/static/images/dropzone/dropzone_illustration.svg">
    </div>
    
    <p>
      <ol>
        <li>Save the .opencert document found in this email's attachment</li>
        <li>Visit <a href="https://opencerts.io">https://opencerts.io</a></li>
        <li>Drop the .opencert file into the dropzone to verify the certificate</li>
        <li>If the .opencert file is verified, the certificate will load in a new page</li>
      </ol>
    </p>
  </div>
  <div style="padding: 2rem;">
    <h3>What is OpenCerts?</h3>

    <p>
      OpenCerts is a blockchain-based platform for issuing and validating certs. It is developed by the <a href="https://www.tech.gov.sg">Singapore
        Government Technology Agency (GovTech)</a>.
    </p>
    <p>
      Various education institutes work together to issue certificates that employers can easily verify. Using
      OpenCerts, you can view a certificate sent to you and validate it originates from the correct institution or if
      the certificate has been tampered with.
    </p>
    <p>
      To find out more, visit <a href="https://opencerts.io/">https://opencerts.io/</a>
    </p>
  </div>
  <div style="padding: 2rem;" class="bg-brand-dark">
  </div>
</div>