service: mail
provider:
  name: aws
  runtime: nodejs18.x
  stage: "${opt:stage, 'stg'}"
  region: ap-southeast-1
  memorySize: 256
  tracing:
    lambda: true
    apiGateway: true
  logs:
    restApi: true
functions:
  email:
    description: "Sends email on behalf of user to third party with the OpenCerts' preset template."
    handler: index.handler
    timeout: 20 # long timeout as verify api can take awhile
    events:
      - http:
          path: /
          method: post
          cors: true
custom:
  dotenv:
    basePath: ../../
  serverless-offline:
    lambdaPort: 3002
    httpPort: 3000
  webpack:
    includeModules:
      packagePath: "../../package.json"
plugins:
  - serverless-dotenv-plugin
  - serverless-offline
  - serverless-webpack
