name: Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18.x'
        cache: 'npm'
      
    - name: Install dependencies
      run: npm ci
      
    - name: Validate Serverless configurations
      run: npm run sls-config-check
    
    - name: Run linter
      run: npm run lint
      
    - name: Setup environment file
      run: mv .env.example .env
      
    - name: Run tests
      run: npm run test

    # TODO: problematic on github actions atm - this is covered by seed.run integration tests for now, will fix later
    #       as part of upgrading the storage api
    # - run: npm run s3-local-setup
    # - run: npm run dev &
    # - run: sleep 40
    # - run: npm run integration:local